* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

body {
    background: antiquewhite;
}

header {
    background-color: rebeccapurple;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin: 0 0 0 1rem;
    background-color: brown;
    line-height: 4rem;
}

nav ul,
footer ul {
    list-style: none;
    margin: 0 1rem 0 0;
}

nav ul li,
footer ul li {
    display:inline-block;
}

nav ul li a {
    display:inline-block;
    color:#fff;
    background-color: brown;
    height:4rem;
    line-height: 4rem;
    padding: 0 1rem 0 1rem;
}

#about {
    margin-top: 8rem;
}

#projects > div {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: aqua;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 2rem;
    margin: 1rem;
}

#projects > div > :first-child {
    flex-basis:calc(100% - 2rem);
    height: 400px;
}

#projects > div > section {
    flex-basis: calc(50% - 2rem);
}

#anglo-piano {
    background: url('../images/anglo-piano.jpg') center/cover;
    /* background-size: cover; */
}


/*
    Note: I subscribe to design-specific breakpoints rather than device-specific ones. The breakpoints below are the ones that seem to work best for this design.
*/

@media only screen and (max-width: 600px) {
    #projects > div > section {
        flex-basis: calc(100% - 2rem);
    }
}