* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}

body {
    background: antiquewhite;
}

header {
    background-color: rebeccapurple;
    color: #fff;
}

#projects > div {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: aqua;
    border: 2px solid red;
    box-sizing: border-box;
    padding: 2rem;
    margin: 1rem;
}

#projects > div > :first-child {
    flex-basis:calc(100% - 2rem);
}

#projects > div > section {
    flex-basis: calc(50% - 2rem);
}

#anglo-piano {
}
